{
    "version": "9",
    "hosts": {
        "{{ hostname0 }}": {
            "alias": "{{ host0_alias }}",
            "url": "{{ host0_url }}",
            "credentials": {
                "accessKey": "{{ host0_access_key }}",
                "secretKey": "{{ host0_secret_key }}"
            },
            "backend": "s3aioFileObject",
            "api": "S3v4"
        }
    },
    "cache_location": "{{ cache_location }}"
}
